
.notice-board {
  position: relative;
  width: 80%;
  height: 70vh;
  background-color: #e6a910;
  padding: 20px;
  display: flex;
  margin-top: 5%;
  flex-wrap: wrap;
  margin: auto; 
}

.sticky-note {
  position: absolute;
  background-color: #ffffcc;
  border: 1px solid #e0e0e0;
  padding: 15px; 
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.sticky-note.pinned {
  background-color: #ccffcc;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.controls button {
  background-color: #e0e0e0;
  border: none;
  padding: 8px; 
  cursor: pointer;
  font-size: 12px;
}

.controls button:hover {
  background-color: #d1d1d1;
}

.input-container {
  margin-top: 5px;
}

.input-container input {
  width: 100%;
  padding: 8px; 
  box-sizing: border-box;
  font-size: 14px;
}


@media (max-width: 768px) {
  .notice-board {
    width: 90%;
    padding: 15px;
  }

  .sticky-note {
    padding: 10px;
  }

  .controls button {
    padding: 5px;
  }

  .input-container input {
    padding: 5px;
  }
}
