.notice-board {
  width: 800px;
  height: 500px;
  background-color: yellow;
  position: relative;
  margin: 20px;
  border: 1px solid #ccc;
  margin-left: 10%;
}

.sticky-note {
  width: 150px;
  height: 100px;
  background-color: black;
  color: white;
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  cursor: grab;
}

.sticky-note.pinned {
  cursor: default;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

button {
  background-color: #ccc;
  border: none;
  padding: 5px;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
}

input:focus {
  outline: none;
  border: 1px solid #4CAF50;
}
